@page "/registration"

@inject IAccountManagement Acct;
@inject NavigationManager NavManager;

<h3>Register</h3>
<form onsubmit="@SignUp">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@code {
    SignUp registrationModel = new();
    private string[] errorList = [];
    private string _spinnerClass = "";
    private string _userAvatar = "content/PuffPal.Shared/favicon.png";

    private async void SignUp()
    {
        _spinnerClass = "spinner-border spinner-border-sm";
        var result = await Acct.RegisterAsync(registrationModel.Email, registrationModel.UserName, registrationModel.Password);
        if (result.Succeeded)
        {
            NavManager.NavigateTo("/login");
        }
        else
        {
            _spinnerClass = "";
            errorList = result.ErrorList;
        }
    }
}
