@page "/"

@inject IAccountManagement Acct;
@inject NavigationManager _navigation;

<h3>Loading...</h3>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (await Acct.CheckAuthAsync())
		{
			_navigation.NavigateTo("/home");
		}
		else
		{
			_navigation.NavigateTo("/login");
		}
	}
}
